<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create new Post</title>
    <% include ../layout/head %>

    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />

    <!-- jQuery library  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
      tinymce.init({ selector: "textarea" });
    </script>
  </head>
  <body>
    <div class="container">
      <% include ../layout/nav %>

      <div class="panel panel-default">
        <div class="panel-heading">Add new Post</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6">
              <% if (data && data.error){ %>
              <div id="new-post-alert" class="alert alert-danger col-sm-12">
                <%= data.error%>
              </div>
              <%}%>
              <form role="form" method="POST" action="/admin/posts/new">
                <div class="form-group">
                  <label>Title</label>
                  <input
                    class="form-control"
                    name="title"
                    placeholder="Title"
                  />
                </div>
                <div class="form-group">
                  <label>Content</label>
                  <textarea
                    class="form-control"
                    name="content"
                    placeholder="Content"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label>Author</label>
                  <input
                    class="form-control"
                    name="author"
                    placeholder="Author"
                  />
                </div>

                <input
                  type="submit"
                  name=""
                  value="Add"
                  class="btn btn-success"
                />
              </form>
            </div>
          </div>
          <!-- /.row (nested) -->
        </div>
        <!-- /.panel-body -->
      </div>
    </div>
  </body>
</html>
