<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">Blog Admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/admin/posts">Posts</a></li>
      <li><a href="/admin/users">User</a></li>
    </ul>
  </div>
</nav>
